In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('Group_11_Question_1_Data.csv', index_col=0)
df

     Period 1   Period 2
0   27.680136  12.336870
1   32.914177  11.868782
2   30.806953  13.069898
3   33.417412  12.895928
4   22.121046  12.910894
5   22.487118  17.255720
6   26.722399  12.755438
7   31.507780  13.347216
8   25.720625  12.265099
9   23.742313  11.752333
10  29.733955  11.936597
11  11.619726  13.706794
12  33.406059  11.625323
13  12.531604  12.090756
14  24.077976  12.920347
15  29.510933  12.731277
16  28.882330  12.079923
17  24.688025  11.878917
18  32.995159  14.440809
19  24.014292  11.239848